# **1. Theoretical Exercises on Recurrent Neural Network (RNN)**

As we learnt in previous lecture, we saw feedforward artificial neural networks, which do not contain any cycles and for which the nodes do not maintain a persistent state over several runs. This exercise considers artificial neural networks with nodes that maintain a persistent state that can be updated. This kind of neural network is called a recurrent
neural networks (RNN). As an example, consider the following RNN with

$y_t=W_{x_t}+V_{s_t}$

$s_{t+1}=y_t$

from some initial state $s_0$, where t denotes the $t$-th call of the RNN, i.e., $x_t$ is the $t$-th input.

![image.png]()

Figure 1

Questions:

1. What is the recurrent state in the RNN from Figure 1? Name one example that can be more naturally modelled with RNNs than with feedforward neural networks?

2. As the state of an RNN changes over different runs of the RNN, the loss functions that we use for feedforward neural networks do not yield consistent results. For given dataset X, please propose a loss function (based on the mean square loss function) for RNNs and justify why you chose this loss function. 

3. For a dataset $X≔(x_t,y_t)_1^k$ (for some $k\in N$), show how information is propagated by drawing a feedforward neural network that corresponds to the RNN from Figure 1 for $k=3$. Recall that a feedforward neural network does not contain nodes with a persistent state. (Hint: unfold the RNN.)

# **2. Using Recurrent Neural Network (RNN) to Solve a Problem**

The task of this exercise is to implement RNN algorithm on a stack price
prediction.

To comply with this goal the **Google Stock Price** dataset is used, a very common dataset for data scientists for tests and studies in **ML** (Machine Learning).

**Load Data from your Google Drive**

In [ ]:
#"""
from google.colab import drive
drive.mount('/content/drive')
#"""

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Enter the folder including csv files.

In [ ]:
cd drive/MyDrive/Teaching/CS5062/Practical/Practical_7

In [ ]:
ls

#**Part 1 - Data Preprocessing**

First, we import required libraries, **numpy**, **matplotlib.pyplot**, and **pandas**.

In [ ]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

Import the training dataset. Hint: use **read_csv** from Pandas library.

In [ ]:
# Put your codes here

Show the training dataset by using **head** method.

In [ ]:
# Put your codes here

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

Get the column of "open" price and print it and its shape.

In [ ]:
# Put your codes here

Please features with using **MinMaxScaler** method

In [ ]:
from sklearn.preprocessing import MinMaxScaler
# Put your codes here

Please create a data structure with 60 timesteps and 1 output. Giving features to X_train and labels to y_train

In [ ]:
X_train = []
y_train = []
# Put your codes here

Reshape X_train into 3D with (numberOfExamples, timeSteps, numberOfFeatures)

In [ ]:
# Put your codes here

#**Part 2 - Building the RNN stacked lstm with dropout regularization to prevent overfitting**

Here, we import keras library and packages from tensorflow to implement RNN in a simple way.

In [ ]:
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout

Initialising the RNN

In [ ]:
# Put your codes here

Adding the first the LSTM layers with 50 neuro units, dropout regularisation with 0.2, and return_sequences as True.

In [ ]:
# Put your codes here

Adding the second the LSTM layers with 50 neuro units, dropout regularisation with 0.2, and return_sequences as True.

In [ ]:
# Put your codes here

Adding the third the LSTM layers with 50 neuro units, dropout regularisation with 0.2, and return_sequences as default.

In [ ]:
# Put your codes here

 Adding regressor layer as output layer.

In [ ]:
# Put your codes here


Compile the RNN with optimizer as Adam and loss as mean_squared_error.

In [ ]:
# Put your codes here

# **Part 3 - Training RNN with training data, making the predictions, and visualising the results**

Train the RNN on the training set. Hint: using **fit** method.

In [ ]:
import tensorflow as tf 
tf.random.set_seed(1234)
# Put your codes here

Loading the test dataset

In [ ]:
dataset_train = pd.read_csv('datasets_20469_26460_Google_Stock_Price_Train.csv')
dataset_test = pd.read_csv('datasets_20469_26460_Google_Stock_Price_Test.csv')
real_stock_price = dataset_test.iloc[:,1:2].values

Concatenate the "Open" columns of dataset_train and datadataset_test. The concatenated data are defined as "dataset_total". Then, print the shape after conducting concat.

In [ ]:
dataset_total = pd.concat((dataset_train['Open'], dataset_test['Open']), axis=0)
print(dataset_total.shape)

(1278,)

Get the inputs of testing data.

In [ ]:
inputs = dataset_total[len(dataset_total) - len(dataset_test) - 60:].values
inputs = inputs.reshape(-1,1)
inputs = sc.fit_transform(inputs)

Put all inputs of data in "X_test"

In [ ]:
X_test = []
for i in range(60,inputs.shape[0]):
    X_test.append(inputs[i-60:i,0])
X_test=np.array(X_test)

Reshape X_test into 3D with (numberOfExamples, timeSteps, numberOfFeatures)

In [ ]:
# Put your codes here

Getting the predicted stock price and print the predicted stock price. Hint: using **predict** method.

In [ ]:
# Put your codes here

During the data-processing, we did the normalisation and make range within 0 and 1. Now, we need to inverse the predictions to orginal scale.

Hint: using **inverse_transform** method from **MinMaxScaler**.

In [ ]:
# Put your codes here

For the visualization, plot predicted stock price by red line and real stock price by blue to see the gap between them.

Hint: using **matplotlib.pyplot (plt)*** method.

In [ ]:
# Put your codes here